
<div id="gameboard">

  <div id="question">
    <%= @game.question %>
  </div>
  <div id="options">
    <% @game.choices.each do |choice| %>
      <div>
        <%= choice %>
      </div>
    <% end %>
  </div>
</div>

<div id="score-card">
  Score: <%= @game.score %>
</div>
