---
http_interactions:
- request:
    method: get
    uri: http://numbersapi.com/random/trivia?fragment&json&max=1000000&min=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Numbers-Api-Number:
      - '600'
      X-Numbers-Api-Type:
      - trivia
    body:
      encoding: UTF-8
      string: |-
        {
         "text": "the maximum credit score considered poor, thus limiting available credit in the USA",
         "number": 600,
         "found": true,
         "type": "trivia"
        }
  recorded_at: Wed, 27 Feb 2019 02:06:31 GMT
recorded_with: VCR 4.0.0
